body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #1da1f2;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

input,
button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    background-color: #1da1f2;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0d8fe4;
}
