@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.post-delete-button {
    margin-left: 10px;
}

.container-btn {
    display: flex;
    }


    .floating-btn-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
    
      .floating-btn{
        background-color: #727272;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        animation: heart 2s infinite;
      }


      .btn-primary:not(:disabled):not(.disabled):active,
      .show > .btn-primary.dropdown-toggle {
          background-color: #d38027;
          border-color: #d38027;
      }
      



@media (max-width: 768px) { 
  #logout-button, #settings-btn, #floating-btn {
      display: none; /* Cacher les boutons spécifiés */
  }
}

@media (min-width: 769px) { 
  #logout-button, #settings-btn, #floating-btn {
      display: inline-block; /* Afficher les boutons spécifiés */
  }
}

/* .btn */
.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: .375rem .75rem;
  font-size: 13px;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .btn-primary */
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
/* .btn-secondary */
.btn-secondary {
  border: none;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.container-btn a {
  text-decoration: none;
}



.btn-danger {
  background-color: #ff4d4d;
  color: white;
  border:none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #e63939;
  border-color: #e63939;
}