:root {
  --dark-background: #212529;
  --light-text: #f0f0f0;
  --container-bg: #343a40;
  --btn-primary: #FFA500;
  --btn-primary-active: #d38027;
  --form-control-bg: #495057;
  --form-control-border: #ced4da;
  --modal-content-bg: #2c2c2c;
  --post-tag: #999;
  --post-info: #aaa;
  --hamburger-bg: #242424;
  --navbar-bottom-bg: #333;
  --dropdown-bg: #333;
  --dropdown-item: white;
  --dropdown-hover: #464646;
}


.dark-theme {
  background-color: var(--dark-background);
  color: var(--light-text);
}

.dark-theme .container-wrapper {
  background-color: var(--container-bg);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-theme .post-container {
  background-color: var(--container-bg);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dark-theme .btn-primary {
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);
}

.dark-theme .btn-primary:hover,
.dark-theme .btn-primary:focus,
.dark-theme .btn-primary:active {
  background-color: var(--btn-primary-active);
  border-color: var(--btn-primary-active);
}

.dark-theme .form-control {
  background-color: var(--form-control-bg);
  color: var(--light-text);
  border-color: var(--form-control-border);
}

.dark-theme .modal-content {
  background-color: var(--modal-content-bg);
  color: var(--light-text);
}

.dark-theme .close {
  color: var(--light-text);
}

.post-tag {
  font-size: 80%;
  color: var(--post-tag);
}

.post-info.dark-theme {
  color: var(--post-info);
}

.dark-theme .hamburger{
  background-color: var(--hamburger-bg);
  color: rgb(185, 186, 187);
}
.dark-theme .navbar-bottom{
  background-color: var(--navbar-bottom-bg);
}
.dark-theme .dropdown{
  background-color: var(--dropdown-bg);
}
.dark-theme .dropdown-item{
  color: var(--dropdown-item);
}
.dark-theme .dropdown-item:hover {
  background-color: var(--dropdown-hover);
}
